*{
 box-sizing: border-box;
 /* background-color: #f2f2f2; */
 /* overflow-x:hidden; */
}

.container{
  display:flex;
margin:15px;
background-color:#f2f2f2;
}
.main-header{
display:flex;
margin-left:10px;
height:calc(100vh -67px);
  justify-content: center;
  width:100%;
}

